.idea
DespesaSimples.sln.DotSettings.user
DespesaSimples_API/bin
DespesaSimples_API/obj
DespesaSimples_API/DespesaSimples_API/bin
DespesaSimples_API/DespesaSimples_API/obj
DespesaSimples_API/Tests/DespesaSimples_API.Tests/bin
DespesaSimples_API/Tests/DespesaSimples_API.Tests/obj